{
    "ignore": [
        "**/*.d.ts"
    ],
    "presets": [
        [
            "babel-preset-transform-ui5",
            {
                "noImportInteropPrefixes": [
                    "sap/",
                    "demo/"
                ],
                "moveControllerPropsToOnInit": true,
                "onlyConvertNamedClass": true,
                "addControllerStaticPropsToExtend": true
            }
        ],
        [
            "@babel/preset-env",
            {
                "targets": {
                    "chrome": 70,
                    "ie": 11
                },
                "modules": false,
                "useBuiltIns": false,
                "debug": true
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-class-properties"
        ],
        [
            "@babel/proposal-object-rest-spread"
        ],
        [
            "@babel/plugin-syntax-decorators",
            {
                "legacy": true
            }
        ]
    ]
}